:root {
    --primary-color:#C271FF;
    --secondary-color: #75689F;
    --dark-color: #071629;
    --light-color: #ffffff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Source Sans Pro, 'sans-serif';
    color: #333;
    line-height: 1.6;  
}

/* Header-background */
header {
    background: linear-gradient(transparent, #071629);
    background-image: url('./Images/Object.png');
    background-size: cover;
    background-position: center; 
    height: max-content;
    width:1440px;
    padding: 20px 0;
    position: absolute; 
    color: #ffffff;
  }
/* Header-nav */
ul {
    list-style-type: none;
} 
a {
    text-decoration: none;
   color: #ffffff;
}
 
header li {
	display: inline;
	vertical-align:middle;
}

header li a {
	margin: 0 10px;
} 

header nav {
     display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
}

/* Header-hero*/
.hero {
    display: flex;
        flex-direction: column;
        align-items: center
}

.hero h1 {
    font-size: 120px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-text {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.btn-primary {
    background: var(--primary-color);
  color: var(--light-color);
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 50%);
}
.hero-text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.hero-text2 span {
    font-weight: bold;
    color: var(--primary-color);
}

.hero-image {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
    
.hero-image div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image div:nth-child(3) img{
border-radius: 50%;
}

.hero-image p {
    width: 70%;
    text-align: center;
    font-style: italic;
}